{% extends '::base.html.twig' %}

{% block body %}
<div class="container-fluid" ng-app="myApp">

    <h1>Scan Gaming</h1>

    {{ include(':index/_partial:game.html.twig') }}
    {{ include(':index/_partial:stats.html.twig') }}

</div>
{% endblock %}

{% block scripts %}
<script>
    var select1 = $('#player1').select2({
        allowClear: true
    });

    var select2 = $('#player2').select2({
        allowClear: true
    });
</script>
{% endblock %}
