{% extends '::base.html.twig' %}

{% block body %}
<div class="container-fluid" ng-app="myApp" ng-cloak="">

    <div class="page-header">
        <h1>Scan Gaming <small>Play some!</small></h1>
    </div>

    {{ include(':index/_partial:game.html.twig') }}
    {{ include(':index/_partial:stats.html.twig') }}

</div>
{% endblock %}

{% block scripts %}
<script>
    var select1 = $('#player1').select2({
        allowClear: true,
        width: '100%'
    });

    var select2 = $('#player2').select2({
        allowClear: true,
        width: '100%'
    });
</script>
{% endblock %}
