{% extends '::base.html.twig' %}

{% block body %}
<div id="page" class="container-fluid" ng-app="myApp" ng-cloak="">

    <div class="page-header">
        <h1>Scan Gaming <small>Play some!</small></h1>
    </div>

    <div ng-view></div>

    <footer class="navbar navbar-default navbar-fixed-bottom">
        <p class="navbar-text navbar-right">Another fine product by <a href="http://www.scandesignmedia.dk">Scandesign Media <img height="19px" src="{{ asset('sd-picto-blue.jpg') }}" alt="" /></a></p>
    </footer>

</div>
{% endblock %}

{% block scripts %}
<script>
    var select1 = $('#player1').select2({
        allowClear: true,
        width: '100%'
    });

    var select2 = $('#player2').select2({
        allowClear: true,
        width: '100%'
    });
</script>
{% endblock %}
