{% extends '::base.html.twig' %}

{% block body %}
<div id="page" class="container-fluid" ng-app="myApp" ng-cloak="">

    <div class="page-header">
        <h1>Scan Gaming <small>Play some!</small></h1>
    </div>

    {{ include(':index/_partial:game.html.twig') }}
    {{ include(':index/_partial:stats.html.twig') }}

    <div ng-controller="SinglePlayerCtrl">
        <div class="modal fade" id="playermodal" tabindex="-1">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">{{ ng('playername') }}</h4>
                    </div>
                    <div class="modal-body">
                        <div ng-show="games.length > 0">Total games: {{ ng('totalgames') }}</div>
                        <div class="row">
                            <div class="md6">
                                <div games gameslist="games" ng-show="games.length > 0"></div>
                            </div>
                            <div class="md6">
                                Day statistic
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}

{% block scripts %}
<script>
    var select1 = $('#player1').select2({
        allowClear: true,
        width: '100%'
    });

    var select2 = $('#player2').select2({
        allowClear: true,
        width: '100%'
    });
</script>
{% endblock %}
