<form ng-controller="CreatePlayerCtrl">
    <div class="well">
        <div class="input-group">
            <label for="create_player" class="sr-only">Player name</label>
            <input type="text" class="form-control" id="create_player" placeholder="Create player" ng-model="player">
            <span class="input-group-btn">
                <button type="submit" class="btn btn-primary" ng-click="create()">Create</button>
            </span>
        </div>
    </div>
</form>
