<div ng-controller="LatestCtrl" data-ng-init="init()">
    <ul class="list-group">
        <li ng-repeat="game in games">
            <span game-html game="{{ ng('game') }}" deleteable="1"></span>
        </li>
    </ul>
</div>
