<div class="panel panel-default hidden-xs">
    <div class="panel-heading">Stats</div>
    <ul class="list-group" ng-repeat="stat in stats">
        <li class="list-group-item" stat-html stat="stat"></li>
    </ul>
</div>
