<div class="stats">

    <div class="row">
        <div class="md6">
            {{ include(':index/_partial:createplayer.html.twig') }}
            {{ include(':index/_partial:latest.html.twig') }}
        </div>

        {{ include(':index/_partial:statsdetail.html.twig') }}

    </div>

</div>
