<div class="panel panel-default">
    <div class="panel-heading">Stats</div>
    <ul class="list-group">
        <li class="list-group-item" ng-repeat="(header, stat) in stats">
            <h4>{{ ng('header | cutheader') }}</h4>
            <p ng-if="header.indexOf('[PLAYER]') > -1">
                <span player-html name="{{ ng('stat.name') }}" elo="{{ ng('stat.elo') }}" bold="1"></span>
            </p>
            <p ng-if="header.indexOf('[PLAYER]') === -1">
                <b>{{ ng('stat') }}</b>
            </p>
        </li>
    </ul>
</div>