<div class="panel panel-default">
    <div class="panel-heading">Players</div>
    <ul class="list-group">
        <li class="list-group-item" ng-repeat="player in players | orderBy:'-elo'">
            <i class="pull-right fa gold fa-circle" ng-if="$index == 0"></i>
            <i class="pull-right fa silver fa-circle" ng-if="$index == 1"></i>
            <i class="pull-right fa bronze fa-circle" ng-if="$index == 2"></i>
            <span player-html player="player" bold="2"></span>
        </li>
    </ul>
</div>