<ul class="list-group">
    <li ng-repeat="player in players | orderBy:'-elo'">
        <i class="pull-right fa gold fa-circle" ng-if="$index == 0"></i>
        <i class="pull-right fa silver fa-circle" ng-if="$index == 1"></i>
        <i class="pull-right fa bronze fa-circle" ng-if="$index == 2"></i>
        <span player-html name="{{ ng('player.name') }}" elo="{{ ng('player.elo') }}" bold="2"></span>
    </li>
</ul>
