<div class="row" data-game-id="{{ game.id }}">
    <div class="md4">
        <span class="elochange">{{ game.player1_elochange }}</span>
        <span ng-if="game.winner == 1" player-html player="game.player1" bold="1" wintype="game.wintype"></span>
        <span ng-if="game.winner != 1" player-html player="game.player1" bold="0" wintype="game.wintype"></span>
    </div>
    <div class="md1">
        <span ng-if="game.wintype == 1"><abbr title="Gammon">*</abbr></span>
        <span ng-if="game.wintype == 2"><abbr title="Backgammon">**</abbr></span>
    </div>
    <div class="md4">
        <span class="elochange">{{ game.player2_elochange }}</span>
        <span ng-if="game.winner == 2" player-html player="game.player2" bold="1" wintype="game.wintype"></span>
        <span ng-if="game.winner != 2" player-html player="game.player2" bold="0" wintype="game.wintype"></span>
    </div>
    <div class="md3">
        <span class="timer" am-time-ago="game.date" title="{{ game.date | date : 'EEEE, MMMM d, y - HH:mm' }}"></span>
        <a class="pull-right pointer" sweetalert sweet-options="{
            title:'Are you sure?',
            text:'The game will not be able to be recovered at any time',
            type:'warning',
            confirmButtonText:'Yes I am',
            showCancelButton:true,
            cancelButtonText:'Nope'
        }" sweet-confirm-option="{
            title:'Deleted',
            text:'The game is gone... forever',
            type:'success',
        }" sweet-on-confirm="deleteGame(game.id)">&times;</a>
    </div>
</div>
