<div class="row" data-game-id="{{ game.id }}">
    <div class="md4">
        <span ng-if="game.winner == 1" player-html name="{{ game.player1.name }}" elo="{{ game.player1.elo }}" bold="1"></span>
        <span ng-if="game.winner != 1" player-html name="{{ game.player1.name }}" elo="{{ game.player1.elo }}" bold="0"></span>
    </div>
    <div class="md4">
        <span ng-if="game.winner == 2" player-html name="{{ game.player2.name }}" elo="{{ game.player2.elo }}" bold="1"></span>
        <span ng-if="game.winner != 2" player-html name="{{ game.player2.name }}" elo="{{ game.player2.elo }}" bold="0"></span>
    </div>
    <div class="md4">
        <span am-time-ago="game.date" title="{{ game.date }}"></span>
        <a class="pull-right" href="#" sweetalert sweet-options="{
            title:'Are you sure?',
            text:'The game will not be able to be recovered at any time',
            type:'warning',
            confirmButtonText:'Yes I am',
            showCancelButton:true,
            cancelButtonText:'Nope'
        }" sweet-confirm-option="{
            title:'Deleted',
            text:'The game is gone... forever',
            type:'success',
        }" sweet-on-confirm="deleteGame(game.id)">&times;</a>
    </div>
</div>
